
.main-container {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;


  h1 {
    font-size: 78px;
    font-weight: 600;
    color: #e86b22;
  }
}

.btn-new-task {

  display: flex;
  justify-content: flex-end;

  a {
    text-align: right;

    background-color: #fdd947;
    padding: 3px 5px;
    border-radius: 5px;
  }
}

.tasks-list {
  background-color: #ec7f40;
  margin-bottom: 24px;
  border: solid #474747 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px;

}

.tasks-list:hover {
  background-color: #e86b22;
  box-shadow: 4px 4px 6px;
}

.tasks-list h2 {
  margin: 9px 0;
}

.tasks-list h2 a {
  font-size: 32px;
  font-weight: 200;
  color: whitesmoke;
  text-decoration: none;
  line-height: .7;
  margin-left: 15px;
}

.details-box {
  display: none;
  background-color: whitesmoke;
  border: solid #b5b3b3 2px;
  box-shadow: 2px 2px 2px;
  border-radius: 5px;
  margin: 5px 0 30px;
}

.details-box.open {
  display: block;
}

.details-box.close {
  display: none;
}

.details-box p {
  font-size: 16px;
  margin-left: 10px;
}
