.main-container {
  width: 100%;
}

.task-show {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 54px;
    margin: 18px 0;
  }

  h4 {
    font-size: 25px;
    box-shadow: 1px 2px 6px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0;
  }
}

.links-show {

  a {
    font-size: 20px;
    color: #e86b22;
  }
}
