<div class="main-container">
  <h1>Tasks List</h1>
  <div class="btn-new-task">
    <%= link_to 'new task', tasks_new_path %>
  </div>

    <% @tasks.each do |task| %>
      <div class="tasks-list">
        <h2><%= link_to task.title, task_path(task.id)%><h2>
        <div class="details-box">
          <p><%= task.details %></p>
        </div>
      </div>
    <%end%>
</div>
